.search-input {
    margin:auto;
    width: 20%;
    height: 50px;
    border-radius: 11px;
    font-size: 20px;
    padding: 0 10px;
    }

.search-form {
    display: flex;
    flex: row;
    width: 100px;
    border-radius: 12px;
}

.submit-button {
    color: black;
    background-color: transparent;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px;
    
}

